<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>servlets.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllSalesRepServlet</servlet-name>
        <servlet-class>servlets.GetAllSalesRepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCustomersServlet</servlet-name>
        <servlet-class>servlets.GetAllCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllOrders</servlet-name>
        <servlet-class>servlets.GetAllOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllLocationServlet</servlet-name>
        <servlet-class>servlets.GetAllLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <servlet-class>servlets.GetAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsOrderedByQuantity</servlet-name>
        <servlet-class>servlets.GetProductsOrderedByQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductsOrderedBySHelfLifeServlet</servlet-name>
        <servlet-class>servlets.GetAllProductsOrderedBySHelfLifeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductsOrderedByPrice</servlet-name>
        <servlet-class>servlets.GetAllProductsOrderedByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAccountsServlet</servlet-name>
        <servlet-class>servlets.GetAllAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAccountsOrderedByOrderId</servlet-name>
        <servlet-class>servlets.GetAllAccountsOrderedByOrderIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAccountsOrderedByDueDate</servlet-name>
        <servlet-class>servlets.GetAllAccountsOrderedByDueDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAccountOrderedByAmmountDueServlet</servlet-name>
        <servlet-class>servlets.GetAllAccountOrderedByAmmountDueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrderServlet</servlet-name>
        <servlet-class>.addOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerServlet</servlet-name>
        <servlet-class>.addCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAccountsWithCustomerNameServlet</servlet-name>
        <servlet-class>servlets.GetAllAccountsWithCustomerNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSalesServlet</servlet-name>
        <servlet-class>servlets.UploadSalesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllSalesRepServlet</servlet-name>
        <url-pattern>/GetAllSalesRepServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCustomersServlet</servlet-name>
        <url-pattern>/GetAllCustomersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllOrders</servlet-name>
        <url-pattern>/GetAllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllLocationServlet</servlet-name>
        <url-pattern>/GetAllLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductsServlet</servlet-name>
        <url-pattern>/GetAllProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsOrderedByQuantity</servlet-name>
        <url-pattern>/GetProductsOrderedByQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductsOrderedBySHelfLifeServlet</servlet-name>
        <url-pattern>/GetAllProductsOrderedBySHelfLifeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductsOrderedByPrice</servlet-name>
        <url-pattern>/GetAllProductsOrderedByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAccountsServlet</servlet-name>
        <url-pattern>/GetAllAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAccountsOrderedByOrderId</servlet-name>
        <url-pattern>/GetAllAccountsOrderedByOrderId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAccountsOrderedByDueDate</servlet-name>
        <url-pattern>/GetAllAccountsOrderedByDueDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAccountOrderedByAmmountDueServlet</servlet-name>
        <url-pattern>/GetAllAccountOrderedByAmmountDueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrderServlet</servlet-name>
        <url-pattern>/addOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomerServlet</servlet-name>
        <url-pattern>/addCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAccountsWithCustomerNameServlet</servlet-name>
        <url-pattern>/GetAllAccountsWithCustomerNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSalesServlet</servlet-name>
        <url-pattern>/UploadSalesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
